# Banco de dados local
db.sqlite3
db.sqlite3-journal

# Pastas de deploy
/staticfiles/
/media/

# Ambiente Virtual
.venv/
venv/
ENV/

# Arquivos de Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Configuração do Editor/IDE
.idea/
.vscode/

# Arquivos de sistema
.DS_Store
Thumbs.db