{% extends "admin/base_site.html" %}
{% block title %} Relatórios de Questionários {% endblock %}

{% block content %}
<div id="content-main">
  <h1>Selecione um Questionário para Ver as Respostas</h1>
  <div class="module" id="changelist">
    <div class="results">
      <table id="result_list">
        <thead>
          <tr>
            <th class="sortable column-titulo">
              <div class="text"><a>Título do Questionário</a></div>
            </th>
            <th class="sortable column-cena_associada">
                <div class="text"><a>Cena Associada</a></div>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for questionario in questionarios %}
          <tr class="{% cycle 'row1' 'row2' %}">
            <th class="field-titulo">
              <a href="{% url 'admin:narrativa_questionario_relatorio_detalhe' questionario.id %}">{{ questionario.titulo }}</a>
            </th>
            <td class="field-cena_associada">{{ questionario.cena_associada|default:"Nenhuma" }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}