{% extends 'base.html' %}
{% block titulo %}Política de Privacidade{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
<main class="bg-primary_black min-h-screen w-full flex justify-center text-gray-100 p-10">
    <div class="w-full md:w-8/12 lg:w-6/12 bg-gray-900 rounded-lg shadow-lg p-8">
        <h1 class="text-3xl font-bold mb-6 text-center">Política de Privacidade</h1>
        <p class="mb-4">
            A sua privacidade é importante para nós. Esta política explica como coletamos, usamos e protegemos as suas informações.
        </p>

        <h2 class="text-2xl font-semibold mt-6 mb-3">1. Dados Coletados</h2>
        <p class="mb-4">
            Coletamos apenas as informações fornecidas voluntariamente durante o uso das jornadas interativas e questionários. Para pacientes (usuários não logados), os dados são associados a uma chave de sessão anônima e não são ligados à sua identidade.
        </p>
        <p class="mb-4">
            Para usuários administradores (logados), coletamos o nome de usuário e e-mail para fins de autenticação.
        </p>

        <h2 class="text-2xl font-semibold mt-6 mb-3">2. Uso dos Dados</h2>
        <p class="mb-4">
            Os dados anônimos dos questionários são usados exclusivamente para análise estatística e melhoria dos nossos serviços.
        </p>

        <h2 class="text-2xl font-semibold mt-6 mb-3">3. Armazenamento e Segurança</h2>
        <p class="mb-4">
            [... Insira aqui sua política de armazenamento e segurança...]
        </p>
    </div>
</main>
{% endblock %}