{% extends 'base.html' %}
{% block titulo %}Termos de Uso{% endblock %}

{% block content %}
<main class="bg-primary_black min-h-screen w-full flex justify-center text-gray-100 p-10">
    <div class="w-full md:w-8/12 lg:w-6/12 bg-gray-900 rounded-lg shadow-lg p-8">
        <h1 class="text-3xl font-bold mb-6 text-center">Termos de Uso</h1>
        <p class="mb-4">
            Bem-vindo à nossa plataforma. Ao utilizá-la, você concorda em cumprir e aceitar os seguintes termos e condições de uso.
        </p>

        <h2 class="text-2xl font-semibold mt-6 mb-3">1. Uso da Plataforma</h2>
        <p class="mb-4">
            [... Insira aqui os seus termos de uso ...]
        </p>

        <h2 class="text-2xl font-semibold mt-6 mb-3">2. Coleta de Dados</h2>
        <p class="mb-4">
            A plataforma coleta respostas anônimas através de questionários para fins de melhoria de serviço e pesquisa. Nenhum dado de identificação pessoal é associado a essas respostas sem o seu consentimento explícito.
        </p>

        <h2 class="text-2xl font-semibold mt-6 mb-3">3. Limitação de Responsabilidade</h2>
        <p class="mb-4">
            [... Insira aqui sua cláusula de responsabilidade ...]
        </p>
    </div>
</main>
{% endblock %}