{% extends "admin/import_export/change_list_import_export.html" %}

{% block extrastyle %}
    {{ block.super }}
    <style>
        /* Conserta o contraste do botão Ninja de Exportar do import_export */
        #object-tools .btn-default,
        #object-tools a.export_link,
        #object-tools a.import_link {
            background-color: #417690 !important;
            color: #ffffff !important;
            border-color: #205067 !important;
            font-weight: bold !important;
            opacity: 1 !important;
        }

        #object-tools .btn-default:hover,
        #object-tools a.export_link:hover {
            background-color: #205067 !important;
            color: #ffffff !important;
        }
    </style>
{% endblock %}